{% extends "website/layout.html" %}
{% load static %}  <!-- Carga el tag static -->
{% block title %}
Inicio
{% endblock %}

{% block body %}
<!-- panel frontal -->

<!-- panel frontal -->

<section id="front_view">
    <div class="container">
        <div class="content">
            <h1 class="section-title">En Phoenix NSG Solutions</h1>
            <h3>Impulsamos marcas y empresas, convirtiendo tu equipo de marketing en un motor imparable en ventas.</h3>
        </div>
        
        <div class="miembros-container">
            {% for miembro in miembros %}
            <div class="miembro" data-id="{{ forloop.counter0 }}">
                <div class="miembro-overlay">
                    <img src="{{ miembro.imagen.url }}" alt="{{ miembro.nombre }}">
                    <p class="descripcion">
                        <span class="quote-mark">&ldquo;</span>{{ miembro.descripcion_corta }}<span class="quote-mark">&rdquo;</span>
                    </p>
                    <p class="miembro-puesto"><strong>{{ miembro.nombre }}</strong><br>{{ miembro.puesto.nombre }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Fin del panel frontal  -->

<!--SERVICIOS-->
<section id="nuestros_servicios">
    <h2 class="encabezados">Nuestros Servicios</h2>
    <div class="card-container-services">
        {%for servicio in servicios%}
        <div class="card-services">
            <div class="front-content-services">
                <p>{{servicio.nombre}}</p>
                <img src="{{ servicio.imagen.url }}" alt="">
            </div>
            <div class="content-services">
                <p class="heading-services">{{servicio.nombre}}</p>
                <p class="descripcion-services">
                    {{servicio.descripcion}}
                </p>
            </div>
        </div>
        {%endfor%}
      </div>
</section>


<!--PARTNERS-->
<section id="partners">
    <div class="partners-container-1">
        <h2 class="encabezados">Nuestros Partners</h2>
    </div>
    <div class="partners-container-2">
        <div class="partners-carousel">
            {%for partner in partners%}
            <div class="partner">
                <img src="{{ partner.imagen.url }}" alt="Partner 1">
                <p class="partner-title">{{partner.nombre}}</p>
                <p class="partner-desc">{{partner.descripcion}}
                    {%if partner.sitio_web%}
                    <a class="link-partner" href="{{partner.sitio_web}}" target="_blank">Conoce más sobre ellos aquí</a>
                    {%endif%}
                </p>
            </div>
           {%endfor%}
        </div>
    </div>
    
</section>

<section id="contact">
  <p class="encabezados">Contacto</p>
  <div class="contact-wrapper">

    <form action="{% url 'contact' %}" method="POST" class="form-horizontal">

        {% csrf_token %}
        <input type="text" class="form-control" id="name" placeholder="Nombre" name="name" required>
        <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" name="email" required>
        <textarea class="form-control" placeholder="Mensaje" name="message" required></textarea>
        <button class="send-button" id="submit" type="submit"  value="Send email">ENVIAR</button>
    </form>
    <!-- <form action="/contact/" method="POST" id="contact-form" class="form-horizontal">
        {% csrf_token %}
        
        <input type="text" class="form-control" id="name" placeholder="Nombre" name="name" required>
        <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" name="email" required>
        <textarea class="form-control" placeholder="Mensaje" name="message" required></textarea>
        
        <button class="send-button" id="submit" type="submit">ENVIAR</button>
    </form> -->
    
    <script>
    document.getElementById("contact-form").addEventListener("submit", function(event) {
        console.log("Formulario intentando enviarse...");  // Verificar en consola
    });
    </script>
    

    <div class="direct-contact-container">
      <ul class="contact-list">
        <li class="list-item"><i class="fa fa-map-marker"></i> <span>Loose weight, 1490 W 49th Pl, Hialeah, FL 33012, EE. UU.</span></li>
        <li class="list-item"><i class="fa fa-phone"></i> <a href="tel:1-307-299-3885">(307) 299 - 3885</a></li>
        <li class="list-item"><i class="fa fa-envelope"></i> <a href="mailto:Lphoenixnsg@gmail.com">Lphoenixnsg@gmail.com</a></li>
      </ul>
      <hr>
      <ul class="social-media-list">
        <li><a href="#"><i class="bi bi-github contact-icon"></i></a></li>
        <li><a href="#"><i class="bi bi-facebook contact-icon"></i></a></li>
        <li><a href="#"><i class="bi bi-instagram contact-icon"></i></a></li>
        <li><a href="#"><i class="bi bi-tiktok contact-icon"></i></a></li>

    </ul>
      <hr>
    </div>
  </div>
</section>

    
    


{% endblock %}
