{% extends "website/layout.html" %}
{% load static %}  <!-- Carga el tag static -->
{% block title %}
Inicio
{% endblock %}

{% block body %}
{% load i18n %}
<!-- panel frontal -->

<!-- panel frontal -->

<section id="front_view">
    <div class="container">
        <div class="content">
            <h1 class="section-title">{% trans 'En Phoenix NSG Solutions' %}</h1>
            <h3>{% trans 'Juntos construimos un futuro. Crece y alcanza el exito profesional con nosotros' %}</h3>
        </div>
        
        <div class="miembros-container">
            {% for miembro in miembros %}
            <div class="miembro" data-id="{{ forloop.counter0 }}">
                <div class="miembro-overlay">
                    <img src="{{ miembro.imagen.url }}" alt="{{ miembro.nombre }}">
                    <p class="descripcion">
                        <span class="quote-mark">&ldquo;</span>{{ miembro.descripcion_corta }}<span class="quote-mark">&rdquo;</span>
                    </p>
                    <p class="miembro-puesto"><strong>{{ miembro.nombre }}</strong><br>{{ miembro.puesto.nombre }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Fin del panel frontal  -->

<!--SERVICIOS-->
<section id="nuestros_servicios">
    <h2 class="encabezados">{% trans 'Servicios que ofrecemos' %}</h2>
    <div class="card-container-services">
        {%for servicio in servicios%}
        <div class="card-services">
            <div class="front-content-services">
                <p>{{servicio.nombre}}</p>
                <img src="{{ servicio.imagen.url }}" alt="">
            </div>
            <div class="content-services">
                <p class="heading-services">{{servicio.nombre}}</p>
                <p class="descripcion-services">
                    {{servicio.descripcion}}
                </p>
            </div>
        </div>
        {%endfor%}
      </div>
</section>


<!--PARTNERS-->
<section id="partners">
    <div class="partners-container-1">
        <h2 class="encabezados">{% trans 'Nuestros Socios Comerciales' %}</h2>
    </div>
    <div class="partners-container-2">
        <div class="partners-carousel">
            {%for partner in partners%}
            <div class="partner">
                <img src="{{ partner.imagen.url }}" alt="Partner 1">
                <p class="partner-title">{{partner.nombre}}</p>
                <p class="partner-desc">{{partner.descripcion}}
                    {%if partner.sitio_web%}
                    <a class="link-partner" href="{{partner.sitio_web}}" target="_blank">{% trans 'Conoce más sobre ellos aquí' %}</a>
                    {%endif%}
                </p>
            </div>
           {%endfor%}
        </div>
    </div>
    
</section>


<section id="comentarios">
    <div class="contenedor-comentario-section">
        <!-- Carrusel de fotos -->
        <div class="carrusel-container">
            <div class="carrusel">
                {%for imagen in imagenes_de_comentarios %}
                <div class="slide">
                    <img src="{{ imagen.imagen.url }}" alt="{{ imagen.nombre }}">
                </div>
                {%endfor%}
            </div>
        </div>
        <script>
            const carrusel = document.querySelector(".carrusel");
            const slides = document.querySelectorAll(".slide");
            let index = 0;
            const totalSlides = slides.length;
            const intervalTime = 4000; // Cambia de imagen cada 5 segundos

            function moverCarrusel() {
                index = (index + 1) % totalSlides; // Mueve al siguiente slide, vuelve a 0 si es el último
                const offset = -index * 100; // Calcula el desplazamiento en porcentaje
                carrusel.style.transform = `translateX(${offset}%)`;
            }

            setInterval(moverCarrusel, intervalTime); // Inicia la animación automática
        </script>

        <!-- Sección de comentarios -->
        <div class="comentarios-container">
            <h2>Comentarios</h2>
            <!-- Lista de comentarios -->
            <div class="comentarios-list">
                <div class="comentario">
                    <h3>Nombre del Usuario</h3>
                    <p><strong>Puesto del Usuario</strong></p>
                    <p>Mensaje del usuario...</p>
                </div>
                <div class="comentario">
                    <h3>Nombre del Usuario</h3>
                    <p><strong>Puesto del Usuario</strong></p>
                    <p>Mensaje del usuario...</p>
                </div>
                <div class="comentario">
                    <h3>Nombre del Usuario</h3>
                    <p><strong>Puesto del Usuario</strong></p>
                    <p>Mensaje del usuario...</p>
                </div>
                <div class="comentario">
                    <h3>Nombre del Usuario</h3>
                    <p><strong>Puesto del Usuario</strong></p>
                    <p>Mensaje del usuario...</p>
                </div>
                <!-- Repite esta estructura para cada comentario -->
            </div>
            <form action="{% url 'comentarios' %}" method="post">
                {% csrf_token %}
                <label class="label-formulario-comentarios">Queremos saber tu opinión, deja acá tu comentario</label>
                <div class="form-group">
                    <input type="text" id="nombre" name="nombre"  placeholder="Nombre" required>
                </div>
                <div class="form-group">
                    <input type="text" id="puesto" name="puesto" placeholder="Cargo ocupado" required>
                </div>
                <div class="form-group">
                    <textarea id="mensaje" name="mensaje" placeholder="Mensaje" required></textarea>
                </div>
                <div class="form-group">
                    <button  class="send-button-comentarios" type="submit">ENVIAR COMENTARIO</button>
                </div>
            </form>
        </div>
    </div>
</section>

<section id="contact">
  <p class="encabezados">{% trans 'Contacto' %}</p>
  <div class="contact-wrapper">
    <form action="{% url 'contact' %}" method="POST" class="form-horizontal">
        <p class="form-title">{% trans '¿Quieres ser parte de nosotros? Rellena los campos de abajo y nos estaremos comunicando contigo' %}</p>

        {% csrf_token %}
        <input type="text" class="form-control" id="name" placeholder="{% trans 'Nombre y Apellido' %}" name="name" required>
        <input type="email" class="form-control" id="email" placeholder="{% trans 'Correo Electrónico' %}" name="email" required>
        <input type="tel"  class="form-control"  id="phone" name="phone" placeholder="(123) 456-7890" required>
        <textarea class="form-control" placeholder="{% trans 'Mensaje' %}" name="message" required></textarea>
        <button class="send-button" id="submit" type="submit"  value="Send email">{% trans 'ENVIAR' %}</button>
    </form>
    <script>
    document.getElementById("contact-form").addEventListener("submit", function(event) {
        console.log("Formulario intentando enviarse...");  // Verificar en consola
    });
    </script>
    

    <div class="direct-contact-container">
      <ul class="contact-list">
       
        <li class="list-item"><i class="fa fa-map-marker"></i> <a href="https://www.google.com/maps/place/Loose+weight,+1490+W+49th+Pl,+Hialeah,+FL+33012,+EE.+UU./@25.8672886,-80.3128866,1209m/data=!3m1!1e3!4m6!3m5!1s0x88d9bafa569b8bb9:0x2f9e10a35407549!8m2!3d25.8673529!4d-80.3125677!16s%2Fg%2F11c3q3ltt3?entry=ttu&g_ep=EgoyMDI1MDIwNC4wIKXMDSoASAFQAw%3D%3D" target="_blank">
            Loose weight, 1490 W 49th Pl, Hialeah, FL 33012, EE. UU.
        </a></li>
        <li class="list-item"><i class="fa fa-phone"></i> <a href="tel:1-307-299-3885">(307) 299 - 3885</a></li>
        <li class="list-item"><i class="fa fa-envelope"></i> <a href="mailto:Lphoenixnsg@gmail.com">Lphoenixnsg@gmail.com</a></li>
      </ul>
      <hr>
      <ul class="social-media-list">
        <li><a href="#"><i class="bi bi-github contact-icon"></i></a></li>
        <li><a href="#"><i class="bi bi-facebook contact-icon"></i></a></li>
        <li><a href="#"><i class="bi bi-instagram contact-icon"></i></a></li>
        <li><a href="#"><i class="bi bi-tiktok contact-icon"></i></a></li>

    </ul>
      <hr>
    </div>
  </div>
</section>

    
<script>
    document.getElementById('phone').addEventListener('input', function (e) {
        let value = e.target.value.replace(/\D/g, ''); // Eliminar caracteres no numéricos

        if (value.length > 10) value = value.slice(0, 10); // Limitar a 10 dígitos
        
        let formattedValue = '';

        if (value.length > 0) formattedValue = `(${value.slice(0, 3)}`;
        if (value.length >= 4) formattedValue += `) ${value.slice(3, 6)}`;
        if (value.length >= 7) formattedValue += `-${value.slice(6, 10)}`;

        e.target.value = formattedValue;
    });
</script>  


{% endblock %}
