<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <!-- nav -->
    <section id="header">
        <div class="header">
            <div class="nav-bar">
                <div class="brand">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/logo.png' %}" style="height: 55px;">
                        <span class="brand-text">Phoenix NSG Solutions</span>
                    </a>
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="{% url 'index' %}" data-after="inicio">Inicio</a></li>
                        <li><a href="{% url 'index' %}#nuestros_servicios" data-after="servicios">Servicios</a></li>
                        <li><a href="{% url 'members' %}" data-after="Nuestro Equipo">Nuestro Equipo</a></li>
                        <li><a href="{% url 'index' %}#contact" data-after="Contacto">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
<!-- fin nav -->

<!--alertas-->
{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        "title": "{{message}}",
        "icon": "success"
    })
</script>
{% endfor %}
{% endif %}

{% if message_success %}
<script>
    Swal.fire({
        "title": "{{message_success}}",
        "icon": "success"
    })
</script>
{% endif %}
{% if message_alert %}
<script>
    Swal.fire({
        "title": "{{message_alert}}",
        "icon": "error"
    })
</script>
{% endif %}

<!--Contenido-->
{% block body %}{% endblock %}
<!-- Fin contenido -->

<!--Footer-->
<!-- <section id="footer">
    <div class="footer container">
        <div class="brand"><h3>Phoenix NSG Solutions</h3></div>
        <p> All Rights Reserved</p>
    </div>
</section> -->

<footer class="footer">
    <div class="footer-banner">
      <h2>¿Quieres colaborar con nosotros?</h2>
      <p>¡Empecemos!</p>
      <a class="footer-button" href="{% url 'index' %}#contact">Contáctanos</a>
    </div>
    <div class="footer-links">
      <div class="footer-column">
        <div class="brand">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/logo.png' %}" style="height: 90px;">
                
            </a>
            <span class="brand-text-footer">Phoenix NSG Solutions</span>
        </div>
      </div>
      <div class="footer-column">
        <h3>Customers</h3>
        <ul>
          <li><a href="#">Buyer</a></li>
          <li><a href="#">Supplier</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Company</h3>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Further Information</h3>
        <ul>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Follow us</h3>
        <ul class="social-links">
          <li><a href="#" class="social-icon"></a></li>
          <li><a href="#" class="social-icon"></a></li>
          <li><a href="#" class="social-icon"></a></li>
          <li><a href="#" class="social-icon"></a></li>
        </ul>
      </div>
    </div>
  </footer>
<!--Fin footer-->

<!--scripts-->
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<!--end scripts-->
</body>
</html>
