<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
  {% load i18n %}
    <!-- nav -->
    <section id="header">
        <div class="header">
            <div class="nav-bar">
                <div class="brand">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/logo.png' %}" style="height: 51px;">
                        <span class="brand-text">Phoenix NSG Solutions</span>
                    </a>
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="{% url 'index' %}" data-after="{% trans 'Inicio' %}">{% trans 'Inicio' %}</a></li>
                        <li><a href="{% url 'index' %}#nuestros_servicios" data-after="{% trans 'servicios' %}">{% trans 'servicios' %}</a></li>
                        <li><a href="{% url 'members' %}" data-after="{% trans 'Nuestro Equipo' %}">{% trans 'Nuestro Equipo' %}</a></li>
                        <li><a href="{% url 'index' %}#contact" data-after="{% trans 'Contacto' %}">{% trans 'Contacto' %}</a></li>
                        <li>                       
                        <form action="{% url 'set_language' %}" method="post" class="language-form" onsubmit="reloadPage()">
                          {% csrf_token %}
                          <select name="language" onchange="this.form.submit()">
                              <option value="es" {% if request.LANGUAGE_CODE == 'es' %}selected{% endif %}>Español</option>
                              <option value="en" {% if request.LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
                          </select>
                      </form>
                        
                        <script>
                        // Función para recargar la página después de que se envíe el formulario
                        function reloadPage() {
                            setTimeout(function() {
                                location.reload();  // Recargar la página después de un breve retraso
                            }, 500);  // Espera 500ms antes de recargar la página
                        }
                        </script>
                        
                        
                        
                                          
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
<!-- fin nav -->

<!--alertas-->
{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        "title": "{{message}}",
        "icon": "success"
    })
</script>
{% endfor %}
{% endif %}

{% if message_success %}
<script>
    Swal.fire({
        "title": "{{message_success}}",
        "icon": "success"
    })
</script>
{% endif %}
{% if message_alert %}
<script>
    Swal.fire({
        "title": "{{message_alert}}",
        "icon": "error"
    })
</script>
{% endif %}

<!--Contenido-->
{% block body %}{% endblock %}
<!-- Fin contenido -->

<!--Footer-->
<!-- <section id="footer">
    <div class="footer container">
        <div class="brand"><h3>Phoenix NSG Solutions</h3></div>
        <p> All Rights Reserved</p>
    </div>
</section> -->

<footer class="footer">
  <div class="footer-banner">
    <h2>{% trans '¿Quieres ser parte de nuestro equipo?' %}</h2>
    <p>{% trans '¡Empecemos!' %}</p>
    <a class="footer-button" href="{% url 'index' %}#contact">{% trans 'Contáctanos' %}</a>
  </div>
  <div class="footer-links">
    <div class="footer-column">
      <div class="brand">
          <a href="{% url 'index' %}">
              <img src="{% static 'images/logo.png' %}">                
          </a>
      </div>
    </div>
    <div class="footer-column">
      <h3>{% trans 'Compañía' %}</h3>
      <ul>
        <li><a href="#">{% trans 'Sobre Nosotros' %}</a></li>
        <li><a href="#">{% trans 'Carreras' %}</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>{% trans 'Más Información' %}</h3>
      <ul>
        <li><a href="#">{% trans 'Terminos y Condiciones' %}</a></li>
        <li><a href="#">{% trans 'Política de Privacidad' %}</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>{% trans 'Síguenos' %}</h3>
      <ul class="social-links">
        <li><a href="#"><i class="bi bi-github contact-icon"></i></a></li>
        <li><a href="#"><i class="bi bi-facebook contact-icon"></i></a></li>
        <li><a href="#"><i class="bi bi-instagram contact-icon"></i></a></li>
        <li><a href="#"><i class="bi bi-tiktok contact-icon"></i></a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3 style="font-size: 12px;">© 2025 Phoenix NSG Solutions</h3>
      <ul>
        <li> <a href="https://github.com/TavoRivera" style="font-size: 6px;">{% trans 'Contacto con el desarrollador' %}</a></li>
      </ul>
      
    </div>

<!--Fin footer-->

<!--scripts-->
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<!--end scripts-->
</body>
</html>
